<header
  class="flex justify-between items-center container mt-4 bg-cust__slate rounded-md duration-300 transition"
>
  <a routerLink="" routerLinkActive="" class="p-2 ml-4">
    <img src="/assets/logo.png" alt="logo" height="40" width="40" />
  </a>
  <div class="px-2">
    <p *ngIf="uahToEur" class="text-cust__white font-bold">
      {{ uahToUsd }}
    </p>
    <p *ngIf="uahToUsd" class="text-cust__white font-bold">
      {{ uahToEur }}
    </p>
  </div>
  <div class="flex gap-2">
    <nav class="mr-4 text-center items-center content-center">
      <ul class="flex gap-2">
        <a routerLink="contact-us" routerLinkActive=""
          ><li class="btn">Contact Us</li></a
        >
        <a routerLink="about-us" routerLinkActive=""
          ><li class="btn">About Us</li></a
        >
      </ul>
    </nav>
    <div
      class="flex gap-2 border-l border-cust__gray-light w-full rounded-r py-2 pr-2"
    >
      <div class="btn ml-6">login</div>
      <div class="btn">reg</div>
    </div>
  </div>
</header>
